.usersComponent {

}

.usersList {}

.userItem {}

.userName {
  width: 20%;
}

.userSurname {
  width: 20%;
}

.userCompany {
  width: 20%;
}

.userEmail {
  width: 20%;
}

.userDeleted {

}

.userType {

}